<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>邮件模版</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../static/css/font.css">
    <link rel="stylesheet" href="../static/css/xadmin.css">
      <link href="https://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../static/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>

  <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>




    <div class="x-body">


        <button class="layui-btn layui-btn-danger x-right" onclick="x_admin_show('删除模版','/model-del/',600,400)"><i class="layui-icon"></i>删除</button>
        <button class="layui-btn x-right" onclick="x_admin_show('添加模版','../model-add/',600,400)"><i class="layui-icon"></i>添加</button>
        <span style="line-height:60px">模版数： {{ data['num'] }} 个</span>




        {% for model in data['models'] %}
            <form class="layui-form" method="post" action="youjian">

          <div class="layui-form-item layui-form-text">
              <label for="desc" class="layui-form-label">
                  {{ model.model_name }}：
              </label>
              <input type="hidden" name="model_name" value="{{ model.model_name }}">
              <div class="layui-input-block">

                  <div class="input-group">
                      <span class="input-group-addon">标题</span>
                      <input type="text" class="form-control" value="{{ model.title }}" aria-label="Amount (to the nearest dollar)" name="title">
                      <span class="input-group-addon">0.0</span>
                    </div>



                  <textarea placeholder="{{ model.model_name }}" id="desc" name="desc" class="layui-textarea">
                      {{ model.msg }}
                  </textarea>
              </div>
          </div>

                

          <div class="layui-form-item" align='right'>

              定时
              <input type="text" size="4" maxlength="3" oninput="value=value.replace(/[^\d]/g,'')" name="time">

              <label for="L_repass" class="layui-form-label">
              </label>min 剩余：s
              <button   class="layui-btn" lay-submit="">
                  发送
              </button>
          </div>
      </form>
        {% endfor %}

    </div>


  </body>
</html>