<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>邮件模版</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../static/css/font.css">
    <link rel="stylesheet" href="../static/css/xadmin.css">
      <link href="https://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../static/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="x-body">
        <form class="layui-form" method="post" action="youjian">

          <div class="layui-form-item layui-form-text">
              <label for="desc" class="layui-form-label">
                  模版一：
              </label>
              <div class="layui-input-block">

                  <div class="input-group">
                      <span class="input-group-addon">标题</span>
                      <input type="text" class="form-control" value="模版一" aria-label="Amount (to the nearest dollar)" name="title">
                      <span class="input-group-addon">0.0</span>
                    </div>



                  <textarea placeholder="模版一 模版一" id="desc" name="desc" class="layui-textarea">
                      这是模版内容一
                  </textarea>
              </div>
          </div>
          <div class="layui-form-item" align='right'>
              <label for="L_repass" class="layui-form-label">
              </label>
              <button   class="layui-btn" lay-submit="">
                  立即发送
              </button>
          </div>
      </form>

        <form class="layui-form" method="post" action="youjian">

          <div class="layui-form-item layui-form-text">
              <label for="desc" class="layui-form-label">
                  模版二：
              </label>
              <div class="layui-input-block">

                  <div class="input-group">
                      <span class="input-group-addon">标题</span>
                      <input type="text" class="form-control" value="模版二" aria-label="Amount (to the nearest dollar)" name="title">
                      <span class="input-group-addon">0.0</span>
                    </div>



                  <textarea placeholder="模版二 模版二" id="desc" name="desc" class="layui-textarea">
                      这是模版内容二
                  </textarea>
              </div>
          </div>
          <div class="layui-form-item" align='right'>
              <label for="L_repass" class="layui-form-label">
              </label>
              <button   class="layui-btn" lay-submit="">
                  立即发送
              </button>
          </div>
      </form>

        <form class="layui-form" method="post" action="youjian">

          <div class="layui-form-item layui-form-text">
              <label for="desc" class="layui-form-label">
                  模版三：
              </label>
              <div class="layui-input-block">

                  <div class="input-group">
                      <span class="input-group-addon">标题</span>
                      <input type="text" class="form-control" value="模版三" aria-label="Amount (to the nearest dollar)" name="title">
                      <span class="input-group-addon">0.0</span>
                    </div>



                  <textarea placeholder="模版三 模版三" id="desc" name="desc" class="layui-textarea">
                      这是模版内容三
                  </textarea>
              </div>
          </div>
          <div class="layui-form-item" align='right'>
              <label for="L_repass" class="layui-form-label">
              </label>
              <button   class="layui-btn" lay-submit="">
                  立即发送
              </button>
          </div>
      </form>

    </div>

  </body>
</html>